{% extends "base.html" %}

{% block body %}
<body class="container">
  <div class="container-fluid" style="margin-top: 30px">
    <div class="row-fluid">
      <div class="row-fluid">
        <div>
          {% block branding %}
            <h3 style="margin: 0 0 20px;">
              <span class="fa fa-server fa-lg" aria-hidden="true"></span>&nbsp;Hypertech FHIR Server
            </h3>{% endblock %}
        </div>
      </div><!-- /row fluid -->
      <div class="row-fluid">
          <div>
            <p>Client: {{ client.client_id }}</p>
            <p>User: {{ user.username }}</p>
          </div>
      </div>
      <div class="row-fluid">
        <div>
          <form action="/oauth/authorize/" method="post">
            <p>Allow access?</p>
            <input type="hidden" name="client_id" value="{{ client.client_id }}">
            <input type="hidden" name="scope" value="{{ scopes|join(' ') }}">
            <input type="hidden" name="response_type" value="{{ response_type }}">
            <input type="hidden" name="redirect_uri" value="{{ redirect_uri }}">
            {% if state %}
            <input type="hidden" name="state" value="{{ state }}">
            {% endif %}

            <input class="btn btn-success" type="submit" name="confirm" value="yes">
            <input class="btn btn-danger" type="submit" name="confirm" value="no">
          </form>
        </div>
      </div>
    </div><!-- /.row-fluid -->
  </div><!-- /.container-fluid -->
</body>
{% endblock %}
